@charset "UTF-8";
/* RESET*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: "Josefin Slab", serif;
}

h1 {
  text-align: center;
  color: rgba(37, 37, 37, 0.8352941176);
  font-size: 2.4em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

div {
  text-align: center;
}

/* PAGINA PRINCIPAL */
.pag-principal {
  background-image: url(../assets/portada2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 2000px;
  height: 70vh;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.titulo-pag-principal {
  color: #f1f1f1;
  font-family: "Ramaraja", serif;
  font-size: 5rem;
  text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.815);
  text-align: center;
}

.parrafo-pag-principal {
  color: #f1f1f1;
  font-family: "Ramaraja", serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 5px 8px rgba(0, 0, 0, 0.57);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.item1 {
  justify-content: center;
  align-items: center;
}

.imagenolivar {
  width: 100%;
}

.item2 {
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #252525;
}

.container-nuestros-productos {
  text-align: center;
  margin-top: 20px;
  padding: 0 20px;
}

.container-nuestros-productos h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  color: rgba(37, 37, 37, 0.8156862745);
}

.container-nuestros-productos span h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  color: #61948C;
}

.container-nuestros-productos h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.7rem;
  margin-top: 10px;
  color: rgba(37, 37, 37, 0.8705882353);
}

.container-nuestros-productos p {
  font-size: 1.25rem;
  margin: 0.4rem 5rem;
  color: #0a0a0a;
}

/* DONDE NOS ENCONTRAMOS */
.donde-nos-encontramos p {
  margin: 1rem 5rem;
  text-align: center;
  font-size: 1.25rem;
}

/* CONTACTANOS */
.contactanos p {
  font-size: 1.3rem;
  margin: 0.4rem 7rem;
  text-align: center;
}

.container-formulario {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.container-formulario h2 {
  font-family: "Cormorant Garamond", serif;
  color: rgba(37, 37, 37, 0.8352941176);
}

.form2 {
  padding: 0 30rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=submit] {
  background-color: rgba(255, 208, 0, 0.9647058824);
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffe600;
}

/*FOOTER*/
footer {
  text-align: center;
}

footer h5 {
  font-size: 1.2rem;
  color: #252525;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #7e7d7d;
  transition: 0.5s;
  font-size: 1.1rem;
}

footer a:hover {
  color: #252525;
}

.enlace-quienes-somos {
  background-color: rgba(255, 208, 0, 0.9647058824);
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Bellota Text", sans-serif;
  font-weight: bold;
  margin: 1px;
  padding: 8px 10px;
  border: 1px solid #252525;
  transition: 0.5s;
}

.enlace-quienes-somos:hover {
  background-color: #ffe600;
}

.boton-ubicacion a {
  background-color: rgba(255, 208, 0, 0.9647058824);
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 1px;
  padding: 8px 10px;
  border: 1px solid #252525;
  transition: 0.5s;
  text-align: center;
}

.boton-ubicacion a:hover {
  background-color: #ffe600;
}

/* Media Query para pantallas más grandes (escritorio) */
@media (max-width: 990px) {
  .container {
    grid-template-columns: 1fr;
  }
  .imagenolivar {
    width: 100%;
  }
  .item2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .donde-nos-encontramos p {
    margin: 10px 20px;
  }
  .boton-ubicacion {
    margin: 0 35%;
  }
  .titulo-pag-principal {
    font-size: 3rem;
  }
  .parrafo-pag-principal {
    font-size: 1.5rem;
  }
  .pag-principal {
    height: 50vh;
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
