/*FOOTER*/
footer{
    text-align: center;
    h5{
        font-size: 1.2rem;
        color: #252525;
    }
    a{
        font-weight: bold;
        text-decoration: none;
        color: #7e7d7d;
        transition: 0.5s;
        font-size: 1.1rem;
    }
    a:hover{
        color: #252525;
    }


}
