
.container-nuestros-productos {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
    h2{
        font-family: "Cormorant Garamond", serif;
        font-size: 2rem;
        color: #252525d0;
    }
    span{
        h2{
        font-family: "Cormorant Garamond", serif;
        font-size: 2rem;
        color: #61948C;} 
    }
    h4{
        font-family:"Cormorant Garamond", serif;
        font-size: 1.7rem;
        margin-top: 10px;
        color: #252525de;
    }
    p{
        font-size: 1.25rem;
        margin: 0.4rem 5rem;
        color: #0a0a0a;
    }


}
